@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Todd's Pet Store</h1>
    <p class="lead">Welcome to my pet store, where we sell pets.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Need a pet?</h2>
        <p>
            Lorem ipsum dolor sit amet, no usu eius accusam necessitatibus, id eos libris option blandit, regione volumus recteque ex sed. Ei dolorum alienum accommodare sed, in sint aliquid eum. Quis odio feugait sit eu, vim ne suavitate ocurreret, in vix laboramus scripserit. Cum quot molestiae complectitur ut. Malis abhorreant disputando eu eos, malorum efficiendi ea cum.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Need to get rid of your pet?</h2>
        <p>
            At mel graeco incorrupte, at fabellas voluptatibus mea. Et vel solet consequuntur, dicit tritani electram cu quo. Mei graece ancillae verterem ne. His at omnes legere, eos ut mucius sapientem incorrupte. Est assum adversarium te.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Something something pets?!?</h2>
        <p>
            Cu vide legere usu. In tation meliore sed, mollis consectetuer est at, eum ne augue verterem necessitatibus. No nam esse tibique petentium, ad expetenda democritum cum. Percipitur accommodare eu est, mea putent regione epicuri in, falli ocurreret voluptaria ad sit.
        </p>
    </div>
</div>